#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  width: 600px;
  font-family: Arial, sans-serif;
}

.row {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.label {
  flex: 2;
}

.input {
  flex: 1;
}

.output {
  flex: 4;
}
