#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.row {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.label {
  flex: 2;
}

.input {
  flex: 1;
}

.output {
  flex: 4;
}

.whole-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

ul.activities {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
